<section id="MateralUIFloatPanel">
    <div id="MateralUIMessagePanel" class="m_message_panel"></div>
    <div id="MateralUINotificationPanel" class="m_notification_panel"></div>
</section>
@code {

}
