
<Menu Mode="MenuMode.Inline">
    <MenuItem RouterLink="/Admin" RouterMatch="NavLinkMatch.All">首页</MenuItem>
    <li class="ant-menu-item" role="menuitem" style="">
        <span class="ant-menu-title-content">
            <a href="/Swagger" target="_blank">
                Swagger
            </a>
        </span>
    </li>
    <SubMenu Title="配置">
        <SubMenu Title="全局配置">
            <MenuItem RouterLink="/Admin/Setting/GlobalConfiguration/ServiceDiscoveryProvider" RouterMatch="NavLinkMatch.All">服务发现</MenuItem>
            <MenuItem RouterLink="/Admin/Setting/GlobalConfiguration/GlobalRateLimitOptions" RouterMatch="NavLinkMatch.All">限流</MenuItem>
            <MenuItem RouterLink="/Admin/Setting/GlobalConfiguration/BaseUrlCtrl" RouterMatch="NavLinkMatch.All">基地址</MenuItem>
        </SubMenu>
        <MenuItem RouterLink="/Admin/Setting/GlobalConfiguration/SwaggerEndPoints" RouterMatch="NavLinkMatch.All">Swagger配置</MenuItem>
        <MenuItem RouterLink="/Admin/Setting/GlobalConfiguration/Routes" RouterMatch="NavLinkMatch.All">路由配置</MenuItem>
    </SubMenu>
</Menu>