<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="Logs/NLog/InternalNLog.log"
      internalLogLevel="Info" >
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="AllFile" fileName="Logs/NLog/AllFile-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="ErrorFile" fileName="Logs/NLog/ErrorFile-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="Database" name="LogDataBase"
            dbProvider="System.Data.SqlClient"
            connectionString="${var:NLogConnectionString}">
      <commandText>
        INSERT INTO [dbo].[Log]([CreateTime],[UpdateTime],[Application],[Level],[Message],[Logger],[Callsite],[Exception])
        VALUES(@CreateTime,@CreateTime,@Application,@Level,@Message,@Logger,@Callsite,@Exception);
      </commandText>
      <parameter name="@CreateTime" layout="${longdate}" />
      <parameter name="@Application" layout="${var:AppName}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="AllFile" />
    <logger name="*" minlevel="Error" writeTo="ErrorFile,LogDataBase" />
  </rules>
</nlog>