@page "/"

<PageTitle>主页-@WebAppConfig.AppTitle</PageTitle>

<h1>Hello, world! @WebAppConfig.AppTitle </h1>

Welcome to your new app.

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            RCData.ShowDeploys = false;
            RCData.ShowEnvironments = false;
        }
        base.OnAfterRender(firstRender);
    }
}