namespace ${ProjectName}.${ModuleName}.Repository
{
    /// <summary>
    /// ${ModuleName}仓储模块
    /// </summary>
    public class ${ModuleName}RepositoryModule() : ${ProjectName}RepositoryModule<${ModuleName}DBContext>("${ProjectName}.${ModuleName}仓储模块")
    {
        /// <summary>
        /// 配置键
        /// </summary>
        protected override string ConfigKey => "${ModuleName}:DBConfig";
    }
}