<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/Index.html">Materal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="TopNavHome" class="nav-item">
                <a class="nav-link" href="/Index.html">主页</a>
            </li>
            <li id="TopNavCodeStandards" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="CodeStandardsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    编码规范
                </a>
                <div class="dropdown-menu" aria-labelledby="CodeStandardsDropdown">
                    <a class="dropdown-item" href="#">C#</a>
                    <a class="dropdown-item" href="#">JavaScript</a>
                    <a class="dropdown-item" href="#">TypeScript</a>
                    <a class="dropdown-item" href="#">Html</a>
                </div>
            </li>
            <li id="TopNavCSharp" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="CSharpDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    C#
                </a>
                <div class="dropdown-menu" aria-labelledby="CSharpDropdown">
                    <a class="dropdown-item" href="#">帮助类</a>
                    <a class="dropdown-item" href="#">WebSocket</a>
                    <a class="dropdown-item" href="#">TTA</a>
                    <a class="dropdown-item" href="#">桌面应用程序插件</a>
                </div>
            </li>
            <li id="TopNavWeb" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="WebDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Web
                </a>
                <div class="dropdown-menu" aria-labelledby="WebDropdown">
                    <a class="dropdown-item" href="#">帮助类</a>
                    <a class="dropdown-item" href="#">Reset</a>
                    <a class="dropdown-item" href="#">原生控件</a>
                </div>
            </li>
            <li id="TopNavDebug" class="nav-item">
                <a class="nav-link" href="/Template/Debug.html">Debug</a>
            </li>
        </ul>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item">
                <a class="nav-link iconfont icon-gitHub" href="https://github.com/MateralCMX" target="_blank" rel="noopener" aria-label="GitHub"></a>
            </li>
        </ul>
    </div>
</nav>