@using RC.Authority.PresentationModel.User;

<Form Model="Model" Loading="Loading" ValidateMode="FormValidateMode.Complex" LabelColSpan="3" WrapperColSpan="8" OnFinish="OnFinish">
    <FormItem Label="名称">
        <Input @bind-Value="context.Name" />
    </FormItem>
    <FormItem Label="账号">
        <Input @bind-Value="context.Account" />
    </FormItem>
    <FormItem WrapperColOffset="3" WrapperColSpan="8">
        <Button Style="margin:10px 0 0 0" Type="@ButtonType.Primary" Block HtmlType="submit">保存</Button>
    </FormItem>
</Form>

@code {
    [Parameter]
    public EditUserRequestModel Model { get; set; } = new();
    [Parameter]
    public bool Loading { get; set; } = new();
    [Parameter]
    public EventCallback<EditContext> OnFinish { get; set; } = new();
}
