<Project Sdk="Microsoft.NET.Sdk">
	<ItemGroup>
		<PackageReference Include="Materal.MergeBlock.Domain.Abstractions" />
		<PackageReference Include="Materal.MergeBlock.Repository.Abstractions" />
		<PackageReference Include="Materal.TTA.EFRepository" />
	</ItemGroup>
</Project>