<nz-layout class="layout">
    <nz-header>
      <div class="logo">ConfigCenter</div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item nzMatchRouter="true" routerLink="ConfigurationItemList"><i nz-icon nzType="bars"></i>配置管理</li>
        <li nz-menu-item nzMatchRouter="true" routerLink="NamespaceList"><i nz-icon nzType="appstore"></i>命名空间管理</li>
        <li nz-menu-item nzMatchRouter="true" routerLink="ProjectList"><i nz-icon nzType="database"></i>项目管理</li>
        <li nz-menu-item nzMatchRouter="true" routerLink="UserList"><i nz-icon nzType="user"></i>用户管理</li>
      </ul>
      <a class="logout" routerLink="/Login">退出登录</a>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Materal ©2020</nz-footer>
  </nz-layout>