<form nz-form [formGroup]="formData" autocomplete="off">
    <nz-form-item>
        <nz-form-control nzErrorTip="请输入键">
            <nz-input-group>
                <input type="text" nz-input formControlName="key" placeholder="键" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="请输入值">
            <nz-input-group>
                <textarea nz-input placeholder="值" formControlName="value" [nzAutosize]="{ minRows: 12, maxRows: 20 }"></textarea>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="请输入描述">
            <nz-input-group>
                <textarea nz-input placeholder="描述" formControlName="description" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button type="button" [nzLoading]="isTransmitting" [nzType]="'primary'" (click)="save()">{{isAdd?'添加':'保存'}}</button>
        </nz-form-control>
    </nz-form-item>
</form>