<!-- <form nz-form autocomplete="off" class="login-form">
    <nz-form-item>
        <nz-form-control nzErrorTip="请输入密码">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="登录密码修改" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button type="button" class="login-form-button" [nzType]="'primary'">保存</button>
        </nz-form-control>
    </nz-form-item>
</form> -->
<form nz-form autocomplete="off">
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">登录密码</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input name="password" type="password">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button type="button" class="login-form-button" [nzType]="'primary'">保存</button>
        </nz-form-control>
    </nz-form-item>
</form>