.logo {
    float: left;
    color: rgba(255, 255, 255, 0.65);
    margin: 0 20px 0 0;
    font-size: 18px;
    font-weight: bold;
}

.btn_logout {
    position: absolute;
    right: 10px;
    height: 64px;
    top: 0px;
}
