@inherits LayoutComponentBase


<AuthorizeView>
    <Authorized>
        <Layout>
            <Header>
                <HeaderContent></HeaderContent>
            </Header>
            <Layout>
                <Content>
                    <div class="site-layout-content">
                        @Body
                    </div>
                </Content>
            </Layout>
            <Footer Style="text-align: center; ">Materal ©2023 Created</Footer>
        </Layout>
    </Authorized>
    <NotAuthorized>
        <LoginCtrl></LoginCtrl>
    </NotAuthorized>
</AuthorizeView>
<AntContainer />

@code {

}