<Project Sdk="Microsoft.NET.Sdk">
	<ItemGroup>
		<PackageReference Include="Materal.MergeBlock.Application.Abstractions" />
	</ItemGroup>
	<ItemGroup>
		<ProjectReference Include="..\MMB.Core.Abstractions\MMB.Core.Abstractions.csproj" />
	</ItemGroup>
</Project>