<nz-layout class="layout">
  <nz-header>
    <div class="logo">ConDep</div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item nzMatchRouter="true" routerLink="AppList">应用列表</li>
      <li nz-menu-item nzMatchRouter="true" routerLink="WebAppList">Web应用列表</li>
      <li nz-menu-item nzMatchRouter="true" routerLink="UploadPackage">上传程序包</li>
      <!-- <li nz-menu-item nzMatchRouter="true" routerLink="SystemSetting">系统配置</li> -->
    </ul>
    <a class="logout" routerLink="/Login">退出登录</a>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Materal ©2020</nz-footer>
</nz-layout>