<Project Sdk="Microsoft.NET.Sdk">
	<ItemGroup>
		<PackageReference Include="Materal.TTA.SqliteEFRepository" />
		<PackageReference Include="Microsoft.Extensions.Configuration.Json" />
	</ItemGroup>
	<ItemGroup>
		<ProjectReference Include="..\${ProjectName}.Core.Abstractions\${ProjectName}.Core.Abstractions.csproj" />
	</ItemGroup>
</Project>