<Project Sdk="Microsoft.NET.Sdk">
	<ItemGroup>
		<PackageReference Include="Materal.TTA.SqliteEFRepository" />
	</ItemGroup>
	<ItemGroup>
		<ProjectReference Include="..\MMB.Core.Abstractions\MMB.Core.Abstractions.csproj" />
	</ItemGroup>
</Project>