namespace ${ProjectName}.Demo.Repository
{
    /// <summary>
    /// Demo仓储模块
    /// </summary>
    public class DemoRepositoryModule() : ${ProjectName}RepositoryModule<DemoDBContext>("${ProjectName}.Demo仓储模块")
    {
        /// <summary>
        /// 配置键
        /// </summary>
        protected override string ConfigKey => "Demo:DBConfig";
    }
}