<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="73.1.13" targetFramework="net472" />
  <package id="cef.redist.x86" version="73.1.13" targetFramework="net472" />
  <package id="CefSharp.Common" version="73.1.130" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="73.1.130" targetFramework="net472" />
  <package id="Materal.Common" version="1.0.0" targetFramework="net472" />
  <package id="Materal.ConfigurationHelper" version="1.0.0" targetFramework="net472" />
  <package id="Materal.ConvertHelper" version="1.0.0" targetFramework="net472" />
  <package id="Materal.FileHelper" version="1.0.0" targetFramework="net472" />
  <package id="Materal.StringHelper" version="1.0.0" targetFramework="net472" />
  <package id="Materal.WindowsHelper" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Win32.UI.Controls" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net472" />
</packages>