@using RC.ServerCenter.PresentationModel.Project;

<Form Model="Model" Loading="Loading" ValidateMode="FormValidateMode.Complex" LabelColSpan="3" WrapperColSpan="8" OnFinish="OnFinish">
    <FormItem Label="描述">
        <TextArea Rows="4" @bind-Value="context.Description" />
    </FormItem>
    <FormItem WrapperColOffset="3" WrapperColSpan="8">
        <Button Style="margin:10px 0 0 0" Type="@ButtonType.Primary" Block HtmlType="submit">保存</Button>
    </FormItem>
</Form>

@code {
    [Parameter]
    public EditProjectRequestModel Model { get; set; } = new();
    [Parameter]
    public bool Loading { get; set; } = new();
    [Parameter]
    public EventCallback<EditContext> OnFinish { get; set; } = new();
}
