<nz-page-header nzGhost="false">
    <nz-page-header-title>Web应用列表</nz-page-header-title>
    <nz-page-header-subtitle>Materal-ConDep</nz-page-header-subtitle>
    <nz-page-header-extra>
        <nz-button-group>
            <button nz-button (click)="openDrawer(null)">新增Web应用</button>
        </nz-button-group>
    </nz-page-header-extra>
    <nz-page-header-content>
        <nz-descriptions nzColumn="3">
            <nz-descriptions-item nzTitle="总数" nzSpan="1">{{generalMessage.count}}</nz-descriptions-item>
        </nz-descriptions>
        <form nz-form [formGroup]="searchModel" autocomplete="off">
            <div nz-row nzGutter="24">
                <nz-form-item nz-col nzSpan="4">
                    <nz-form-control>
                        <input type="search" nz-input placeholder="名称" formControlName="name" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzSpan="18">
                    <nz-form-control>
                        <input type="search" nz-input placeholder="参数" formControlName="parameters" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzSpan="2">
                    <nz-form-control>
                        <button nz-button nzType="primary" (click)="search()">查询</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
    </nz-page-header-content>
</nz-page-header>
<nz-table #filterTable [nzData]="listOfDisplayData" nzFrontPagination="false" [nzLoading]="dataLoading">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
            <th nzShowSort nzSortKey="Name">名称</th>
            <th nzShowSort nzSortKey="Parameters">参数</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of listOfDisplayData">
            <td>{{ data.Name }}</td>
            <td>{{ data.Parameters }}</td>
            <td>
                <nz-button-group>
                    <button nz-button (click)="openDrawer(data.ID)">配置</button>
                    <button nz-button nzType="danger" (click)="showDeleteConfirm(data.ID)">删除</button>
                </nz-button-group>
            </td>
        </tr>
    </tbody>
</nz-table>
<nz-drawer [nzWidth]="720" [nzVisible]="drawerVisible" [nzTitle]="isAdd?'添加Web应用':'修改Web应用'" (nzOnClose)="closeDrawer()">
    <app-web-app-edit  #webAppEditComponent (saveEnd)="saveEnd($event)"></app-web-app-edit>
</nz-drawer>