@using RC.EnvironmentServer.PresentationModel.ConfigurationItem;

<Form Model="Model" Loading="Loading" ValidateMode="FormValidateMode.Complex" LabelColSpan="3" WrapperColSpan="24" OnFinish="OnFinish">
    <FormItem Label="键">
        <Input @bind-Value="context.Key" />
    </FormItem>
    <FormItem Label="值">
        <TextArea Rows="10" @bind-Value="context.Value" />
    </FormItem>
    <FormItem Label="描述">
        <TextArea Rows="2" @bind-Value="context.Description" />
    </FormItem>
    <FormItem WrapperColOffset="3" WrapperColSpan="24">
        <Button Style="margin:10px 0 0 0" Type="@ButtonType.Primary" Block HtmlType="submit">保存</Button>
    </FormItem>
</Form>

@code {
    [Parameter]
    public EditConfigurationItemRequestModel Model { get; set; } = new();
    [Parameter]
    public bool Loading { get; set; } = new();
    [Parameter]
    public EventCallback<EditContext> OnFinish { get; set; } = new();
}
