@using Common.Model
@model Common.Model.OcelotConfigModel
@{
    Layout = null;
    var ocelotConfig = ViewData["OcelotConfig"] as Common.Model.OcelotConfigModel;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
</head>
<body>
    <main class="container">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>网关请求</th>
                    <th>映射地址</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ocelotConfig != null)
                    {
                        foreach (ReRouteModel reRoute in ocelotConfig.ReRoutes)
                        {
                            if (reRoute.DownstreamHostAndPorts != null && reRoute.DownstreamHostAndPorts.Length > 0)
                            {
                                <tr>
                                    <td rowspan="@reRoute.DownstreamHostAndPorts.Length">@ocelotConfig.GlobalConfiguration.BaseUrl@reRoute.UpstreamPathTemplate</td>
                                    <td>@reRoute.DownstreamHostAndPorts[0].Host:@reRoute.DownstreamHostAndPorts[0].Port@reRoute.DownstreamPathTemplate</td>
                                </tr>
                                for (int i = 1; i < reRoute.DownstreamHostAndPorts.Length; i++)
                                {
                                    <tr>
                                        <td>@reRoute.DownstreamHostAndPorts[i].Host:@reRoute.DownstreamHostAndPorts[i].Port@reRoute.DownstreamPathTemplate</td>
                                    </tr>
                                }
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
    </script>
</body>
</html>
