@using Materal.Gateway.Common.ConfigModel;
@using Materal.Gateway.Common;
@inject CustomAuthenticationStateProvider authenticationState;
@inject IMessageService _message;

<PageTitle>登录-Materal.Gateway</PageTitle>

<Card Title="Materal.Gateway登录" Style="width: 450px;display: block;position: absolute;top: 200px;left: 50%;transform: translate(-50%, 0)">
    <Body>
        <Form Model="_model" OnFinish="OnFinish" LabelColSpan="4" WrapperColSpan="18">
            <FormItem Label="账号">
                <Input @bind-Value="context.Account" />
            </FormItem>
            <FormItem Label="密码">
                <InputPassword @bind-Value="context.Password" />
            </FormItem>
            <FormItem WrapperColOffset="4" WrapperColSpan="18">
                <Button Type="@ButtonType.Primary" Block HtmlType="submit">登录</Button>
            </FormItem>
        </Form>
    </Body>
</Card>

@code {
    private UserConfigModel _model = new();
    private void OnFinish(EditContext context)
    {
        try
        {
            authenticationState.Login(_model.Account, _model.Password);
        }
        catch (MateralGatewayException ex)
        {
            _message.Error(ex.Message);
        }
    }
}
