@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MateralDispatcher</h1>
    <p class="lead">Materal.Dispatcher Web 可视化</p>
    <p><a href="/CrystalQuartzPanel.axd" class="btn btn-primary btn-lg">进入 &raquo;</a></p>
</div>