@layout NavMenuLayout
@page "/ConfigCenter/WebAppList"

@using WebAPP.HttpClientImpl
@using WebAPP.AntDesignHelper

@inject NavigationManager _navigationManager
@inject MessageManage _messageManage

<h3>ConfigCenter</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        if (!string.IsNullOrWhiteSpace(UrlManage.DeployUrl))
        {
            await base.OnAfterRenderAsync(true);
        }
        else
        {
            _messageManage.Warning("配置中心未开启");
            _navigationManager.NavigateTo("/");
        }
    }
}
