namespace ${ProjectName}.Core.Abstractions
{
    /// <summary>
    /// ${ProjectName}模块
    /// </summary>
    public abstract class ${ProjectName}Module() : MergeBlockModule, IMergeBlockModule
    {
    }
}
