.messges {
    background-color: black;
    list-style: none;
    color: darkgray;
    padding: 10px;
    margin: 0;
    max-height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px;
}

.message li {
    overflow-wrap: break-word;
}
