@using RC.Deploy.Enums;
@using RC.Deploy.PresentationModel.ApplicationInfo;

<Form Model="Model" Loading="Loading" ValidateMode="FormValidateMode.Complex" LabelColSpan="3" WrapperColSpan="8" OnFinish="OnFinish">
    <FormItem Label="类型">
        <Select DataSource="allApplicationTypes" ValueName="Value" LabelName="Name" @bind-Value="context.ApplicationType"></Select>
    </FormItem>
    <FormItem Label="主模块">
        <Input @bind-Value="context.MainModule" />
    </FormItem>
    <FormItem Label="增量更新">
        <Checkbox @bind-Value="context.IsIncrementalUpdating" />
    </FormItem>
    <FormItem Label="运行参数">
        <TextArea Rows="4" @bind-Value="context.RunParams" />
    </FormItem>
    <FormItem WrapperColOffset="3" WrapperColSpan="8">
        <Button Style="margin:10px 0 0 0" Type="@ButtonType.Primary" Block HtmlType="submit">保存</Button>
    </FormItem>
</Form>

@code {
    [Parameter]
    public EditApplicationInfoRequestModel Model { get; set; } = new();
    [Parameter]
    public bool Loading { get; set; } = new();
    [Parameter]
    public EventCallback<EditContext> OnFinish { get; set; } = new();
    private List<SelectDataModel<ApplicationTypeEnum>> allApplicationTypes = SelectDataModel<ApplicationTypeEnum>.GetList<ApplicationTypeEnum>();
}
