namespace ${ProjectName}.Demo.Abstractions
{
    /// <summary>
    /// Demo缓存仓储接口
    /// </summary>
    /// <typeparam name="TDomain"></typeparam>
    public interface IDemoCacheRepository<TDomain> : I${ProjectName}CacheRepository<TDomain>
        where TDomain : BaseDomain, IDomain, IEntity<Guid>, new()
    {
    }
}