<Project Sdk="Microsoft.NET.Sdk">
	<ItemGroup>
		<PackageReference Include="Materal.MergeBlock.GeneratorCode" />
		<PackageReference Include="Materal.MergeBlock.Web.Abstractions" />
	</ItemGroup>
	<ItemGroup>
		<ProjectReference Include="..\..\${ProjectName}.Core.Repository\${ProjectName}.Core.Repository.csproj" />
	</ItemGroup>
</Project>
