@layout NavMenuLayout
@page "/Deploy"

@using WebAPP.HttpClientImpl

@inject NavigationManager _navigationManager

<h3>Deploy</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        if (!string.IsNullOrWhiteSpace(UrlManage.DeployUrl))
        {
            await base.OnAfterRenderAsync(true);
        }
        else
        {
            _navigationManager.NavigateTo("/");
        }
    }
}
