@layout DeployLayout

@page "/Deploy/AppList"

@using WebAPP.HttpClientImpl

@inject NavigationManager _navigationManager
@inject MessageManage _messageManage

<main class="layout_body">
    <h3>AppList</h3>
</main>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //if (!firstRender) return;
        //if (!string.IsNullOrWhiteSpace(UrlManage.DeployUrls))
        //{
        //    await base.OnAfterRenderAsync(true);
        //}
        //else
        //{
        //    _messageManage.WarningAsync("配置中心未开启");
        //    _navigationManager.NavigateTo("/");
        //}
    }
}
