.Step {
    text-align: center;
    width: 140px;
    height: 80px;
    line-height: 80px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px;
    cursor: move;
}

.StartStep {
    background-color: #C5E99B;
}

.ThenStep {
    background-color: #87CC9B;
}


.Step>.Point {
    position: absolute;
    top: 50px;
    line-height: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.Step>.NextPoint {
    left: 20px;
    background-color: green;
}
.NextConnector>path {
    fill: green;
    stroke: green;
}

.Step>.CompensatePoint {
    left: 40px;
    background-color: red;
}

.CompensateConnector>path {
    fill: red;
    stroke: red;
}

.Step>.EndPoint {
    right: 20px;
    background-color: black;
    cursor: default;
}