global using Materal.MergeBlock.Abstractions;
global using Materal.MergeBlock.Abstractions.Domain;
global using Materal.MergeBlock.Repository;
global using Materal.TTA.Common;
global using Microsoft.EntityFrameworkCore;
global using ${ProjectName}.Core.Repository;
global using ${ProjectName}.${ModuleName}.Abstractions;
global using ${ProjectName}.${ModuleName}.Abstractions.Domain;
global using ${ProjectName}.${ModuleName}.Abstractions.Repositories;

[assembly: MergeBlockAssembly]