global using Materal.MergeBlock.Abstractions;
global using Materal.MergeBlock.Repository;
global using Materal.TTA.Common.Model;
global using Microsoft.EntityFrameworkCore;
global using ${ProjectName}.Core.Reposiroty;
global using ${ProjectName}.${ModuleName}.Abstractions.Domain;
global using ${ProjectName}.${ModuleName}.Abstractions.Repositories;
global using ${ProjectName}.${ModuleName}.Repository;

[assembly: MergeBlockAssembly("${ProjectName}${ModuleName}仓储模块")]