.Step {
    text-align: center;
    width: 140px;
    height: 80px;
    line-height: 80px;
    border-radius: 5px;
}

.StartStep {
    background-color: #C5E99B;
}

.ThenStep {
    background-color: #87CC9B;
}

.ActivityStep {
    background-color: #57AC97;
}

.BranchStep {
    background-color: #3A8A8C;
}

.DelayStep {
    background-color: #316876;
}

.EventStep {
    background-color: #2F4858;
}

.ForEachStep {
    background-color: #8FBC94;
}

.IfStep {
    background-color: #6CA68F;
}

.ParallelStep {
    background-color: #508E88;
}

.RecurStep {
    background-color: #3E777C;
}

.ScheduleStep {
    background-color: #355F6C;
}

.SequenceStep {
    background-color: #2F4858;
}

.TransactionStep {
    background-color: #548687;
}

.WhileStep {
    background-color: #4B8296;
}

.EndStep {
    background-color: #577BA0;
}