<nz-page-header nzGhost="false">
    <nz-page-header-title>项目管理</nz-page-header-title>
    <nz-page-header-subtitle>Materal-ConfigCenter</nz-page-header-subtitle>
    <nz-page-header-extra>
        <nz-button-group>
            <button nz-button [disabled]="dataLoading" (click)="openDrawer(null)" title="新增项目"><i nz-icon nzType="plus"></i></button>
        </nz-button-group>
    </nz-page-header-extra>
    <nz-page-header-content>
        <form nz-form [formGroup]="searchModel" autocomplete="off">
            <div nz-row nzGutter="24">
                <nz-form-item nz-col nzSpan="6">
                    <nz-form-control>
                        <input type="search" nz-input placeholder="名称" formControlName="name" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzSpan="6">
                    <nz-form-control>
                        <input type="search" nz-input placeholder="描述" formControlName="description" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzSpan="2">
                    <nz-form-control>
                        <button nz-button nzType="primary" (click)="search()" title="查询"><i nz-icon nzType="search"></i></button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
    </nz-page-header-content>
</nz-page-header>
<div class="data-panel">
    <app-project-item *ngFor="let data of tableData" [data]="data" (deleteProject)="deleteProject($event)" (editProject)="openDrawer($event)"></app-project-item>
</div>
<nz-drawer [nzWidth]="720" [nzVisible]="drawerVisible" [nzTitle]="isAdd?'添加项目':'修改项目'" (nzOnClose)="closeDrawer()">
    <app-project-edit #projectEditComponent (saveEnd)="saveEnd($event)"></app-project-edit>
</nz-drawer>