.Steps {
    position: absolute;
    width: 175px;
    height: 100%;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    height: 1;
}

.Steps>.Step {
    margin: 10px auto 0;
}


.Canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 175px;
    right: 300px;
    background-color: #F7F7F7;
}

.Canvas>.Step {
    position: absolute;
}

.Settings {
    position: absolute;
    width: 300px;
    top: 0;
    bottom: 0;
    right: 0;
}
.form{
    display: block;
}
.form>.formItem{
    padding: 5px 10px;
    display: block;
}
.form>.formItem>.inputLabel{
    display: block;
    width: 100%;
    box-sizing: border-box
}
.form>.formItem>.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border: 2px solid rgb(118, 118, 118);
    border-radius: 4px;
    padding: 1px;
}