.Steps {
    position: absolute;
    width: 175px;
    height: 100%;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    height: 1;
}

.Steps>.Step {
    margin: 10px auto 0;
}


.Canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 175px;
    right: 300px;
    background-color: #F7F7F7;
}

.Canvas>.Step {
    position: absolute;
}

.Settings {
    position: absolute;
    width: 300px;
    top: 0;
    bottom: 0;
    right: 0;
}

.form {
    display: block;
}

.form .formItem,
.form .inlineFormItem {
    padding: 5px 10px;
    display: block;
    position: relative;
}

.form .inlineFormItem {
    padding: 5px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.form .formItem .inputLabel {
    display: block;
    width: 100%;
    box-sizing: border-box
}
.form .input {
    box-sizing: border-box;
    height: 30px;
    border: 2px solid rgb(118, 118, 118);
    border-radius: 4px;
    padding: 1px 6px;
}
.form .formItem .input {
    display: block;
    width: 100%;
}
.form .inlineFormItem .input {
    /* display: inline-flex; */
    display: inline-block;
}
.form .inlineFormItem-2 .input {
    /* width: 45%; */
    flex-basis: 45%;
}
.form .inlineFormItem-3 .input {
    flex-basis: 30%;
}

.form .inlineFormItem .deleteButton {
    display: block;
    padding: 1px 6px;
    /* position: absolute; */
    /* top: 8px; */
    /* right: 0; */
}

.deleteButton {
    box-sizing: border-box;
    color: white;
    background-color: #eb4848;
}

.inputLabel>button {
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
}