.blueRow {
    background: #d5f1fd;
}

.dicTable {
    -ms-flex-basis: 99%;
    -o-flex-basis: 99%;
    -webkit-flex-basis: 99%;
    flex-basis: 99%;
}

#scrollPanel {
    padding: 0;
    margin: 49px 0 16px 0;
    background-color: #c8c8c8;
}

#scrollBlock {
    background-color: #808080;
}
